
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button{
  width: 100px;
  height: 50px;
  font-weight: 700;
  font-size: xx-large;
}

.container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 400px;
}
